:root
{
    --cor01: hsl(287, 62%, 56%);
    --cor02: hsl(287, 83%, 57%);
    --cor03: hsl(287, 51%, 33%);
    --cor04: hsl(287, 50%, 28%);
    --cor05: hsl(286, 50%, 22%);
    --cor06: hsl(278, 58%, 53%);
    --cor07: hsl(278, 51%, 33%);
    --cor08: hsl(278, 44%, 29%);
    --cor09: hsl(278, 48%, 17%);
    --cor10: hsl(277, 49%, 8%);
    --cor11: #aa06f7;

    --color-bg-dark: hsl(279, 50%, 10%);
    --color-h2-p1: hsl(278, 80%, 49%);
    --color-p1: hsl(278, 83%, 67%);

    --color-bg-light: hsl(279, 56%, 45%);
    --color-h2-p2: hsl(287, 56%, 12%);
    --color-p2: hsl(288, 64%, 8%);

    --color-details-suspense: hsl(287, 41%, 51%);
    --color-details-summary-suspense: hsl(279, 59%, 11%);

    --color-details-open: hsl(278, 55%, 60%);
    --color-details-summary-open: hsl(279, 52%, 17%);
    --color-details-a-open: hsl(278, 58%, 20%);
}

body
{
    background-color: #c953ff;
}

header
{
    display: grid;
    place-items: center;

    height: 100vh;

    background: url(../../imgs/background-image/feminismo-logo2.png) no-repeat center center fixed;
}

header h1
{
    border-radius: 50px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;

    color: #331a3f;

    padding: 0 15px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

main
{
    box-shadow: 0 0 2px 1px #00000080;

    border-radius: 10px;
}

main article
{
    padding: 0 10px;

    box-shadow: inset 0 0 2px 1px #00000050;
}

main article:first-of-type
{
    border-radius: 5px 5px 0 0;
}
main article:last-of-type
{
    border-radius: 0 0 5px 5px;
}

main article h2
{
    font-size: 1.5em;

    position: relative;
}

main article h1::first-letter, h2::first-letter
{
    font-size: 1.2em;
}

main article
{
    padding: 10px 4px;
}

/* nth-child(odd) bg-dark */
main article:nth-child(odd)
{
    background-color: var(--color-bg-dark);
}
main article:nth-child(odd) h2
{
    color: var(--color-h2-p1);
}
main article:nth-child(odd) p
{
    color: var(--color-p1);
}

/* nth-child(even) bg-light*/
main article:nth-child(even)
{
    background-color: var(--color-bg-light);
}
main article:nth-child(even) h2
{
    color: var(--color-h2-p2);
}
main article:nth-child(even) p
{
    color: var(--color-p2);
}

main article section p
{
    text-indent: 15px;
}

main article section a
{
    color: currentColor;

    font-style: italic;
}
main article section a:active
{
    color: var(--cor05);
}

footer
{
    display: grid;
    place-items: center;

    padding: 0 0 50px;
}

footer details
{
    background-color: var(--color-details-suspense);

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 2px 40px;

    box-shadow: inset 0 0 2px 2px #00000050;

    transition: .8s all ease;
}

footer details[open]
{
    background-color: var(--color-details-open);

    color: var(--color-details-summary-open);

    padding: 0 90px;
}
footer details[open] summary
{
    color: var(--color-details-summary-open);
}

footer details summary
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;

    text-align: center;

    color: var(--color-details-summary-suspense);

    cursor: pointer;
}


footer details
{
    list-style-position: inside;
}

footer details a
{
    color: var(--color-details-a-open);
}
footer details a::after
{
    content: '🔗';
}