:root
{
    /* a bolsa amarela */
    --cor01: #BFBDA3;
    --cor02: #E9DE9C;
    --cor03: #F2C029;
    --cor04: #D99923;
    --cor05: #D94032;

    /* amavisse */
    --cor06: #D91A60;
    --cor07: #D42591;
    --cor08: #F222A9;
    --cor09: #D91E98;
    --cor10: #243773;

    /* laços de família */
    --cor11: #A63F52;
    --cor12: #D9CF9C;
    --cor13: #A69F7B;
    --cor14: #D9D5C1;
    --cor15: #A66556;

    /* poesia */
    --cor16: #D95276;
    --cor17: #D92A1A;
    --cor18: #8f241a;
    --cor19: #8C2626;
    --cor20: #732F2F;

    /* por um feminismo afro-latino-americano */
    --cor21: #8C323A;
    --cor22: #035941;
    --cor23: #F29727;
    --cor24: #A64E2E;
    --cor25: #005E73;

    /* quem tem medo */
    --cor26: #D90467;
    --cor27: #3703A6;
    --cor28: #2E038C;
    --cor29: #F2CB07;
    --cor30: #F2B807;

    /* how to suppress*/
    --cor31: #F22738;
    --cor32: #D91414;
    --cor33: #F29494;
    --cor34: #F2F2F2;
    --cor35: #0D0D0D;

    /* papel de parede */
    --cor36: #F2D750;
    --cor37: #403001;
    --cor38: #A6831C;
    --cor39: #D9B13B;
    --cor40: #261901;

    /* ursula */
    --cor41: #BF3945;
    --cor42: #595951;
    --cor43: #A65644;
    --cor44: #BF3434;
    --cor45: #F2F2F2;

    /* segundo sexo */
    --cor46: #BF8450;
    --cor47: #F2D5C4;
    --cor48: #F2784B;
    --cor49: #F26E50;
    --cor50: #262626;

    /* o feminismo */
    --cor51: #0D0C04;
    --cor52: #BF6D24;
    --cor53: #734124;
    --cor54: #A6372D;
    --cor55: #A6372D;

    /* reforma ou revo*/
    --cor56: #262223;
    --cor57: #A3C9D9;
    --cor58: #D99F59;
    --cor59: #8C3D20;
    --cor60: #D95032;

    /* mulher raca */
    --cor61: #D92534;
    --cor62: #07080D;
    --cor63: #400101;
    --cor64: #F22929;
    --cor65: #F2F2F2;

    /* a bruxa */
    --cor66: #F21D2F;
    --cor67: #F2F2F2;

    /* a princesa */
    --cor68: #D99F59;
    --cor69: #8C3D20;

    /* a sereia */
    --cor70: #262624;
    --cor71: #BFBFBF;

    /*eu*/
    --cor72: #D95A2B;
    --cor73: #F2D888;

    /* faça sua coroa */
    --cor74: #BDB4BF;
    --cor75: #BF2A45;

    /*Para educar crianças*/
    --cor76: #AFD918;
    --cor77: #BF0B8F;

    /*Frankenstein*/
    --cor79: #ABD9A9;
    --cor80: #A6BF4B;
    --cor81: #F2C849;
    --cor82: #D9AB73;
    --cor83: #262626;
}

/* a bolsa amarela */
#bolsa-amarela h2, #bolsa-amarela a
{
    background-color: var(--cor03);
    color: var(--cor04);
}
#bolsa-amarela main
{
    background-color: var(--cor05);
}
#bolsa-amarela h3
{
    color: var(--cor03);
}
#bolsa-amarela p
{
    color: var(--cor01);
}

/* laços de família */
#lacos-de-familia h2, #lacos-de-familia a
{
    background-color: var(--cor11);
    color: var(--cor15);
}

#lacos-de-familia main
{
    background-color: var(--cor14);
}
#lacos-de-familia h3
{
    color: var(--cor13);
}
#lacos-de-familia p
{
    color: var(--cor11);
}

/* COMEÇO POESIAS/POEMAS */
/* amavisse */
.poesias-poemas a
{
    position: absolute;

    left: 50%;
    transform: translate(-50%, -15px);

    border-radius: 10px;

    padding: 0 10px;

    box-shadow: 0 0 2px 2px #00000035;

    text-align: center;

    z-index: 1;
}

#amavisse
{
    margin-bottom: 20px;
}
#amavisse a
{
    background-color: var(--cor07);
    color: var(--cor10);
}

/* da poesia */
#da-poesia a
{
    background-color: var(--cor17);
    color: var(--cor18);
}
#da-poesia
{
    margin-bottom: 45px;
}
/* FIM POESIAS/POEMAS*/

/* por um feminismo afro-latino-americano*/
#por-um-feminismo h2, #por-um-feminismo a
{
    background-color: var(--cor24);
    color: var(--cor22);
}
#por-um-feminismo main
{
    background-color: var(--cor21);
}
#por-um-feminismo h3
{
    color: var(--cor25);
}
#por-um-feminismo p
{
    color: var(--cor23);
}

/* CASOS ISOLADOS */
#a-bruxa
{
    margin-bottom: 165px;
}
#a-bruxa a
{
    color: var(--cor66);
    background-color: var(--cor67);
}

#quem-tem-medo h2
{
    color: var(--cor29);
    background-color: var(--cor26);
}

#how-to-suppress h2
{
    color: var(--cor31);
    background-color: var(--cor34);
}

#o-papel-de-parede h2, a
{
    color: var(--cor36);
    background-color: var(--cor37);
}
#o-papel-de-parede main
{
    background-color: var(--cor40);
}
#o-papel-de-parede h3
{
    color: var(--cor38);
}
#o-papel-de-parede p
{
    color: var(--cor38);
}

#ursula h2
{
    color: var(--cor41);
    background-color: var(--cor45);
}

#o-segundo-sexo h2
{
    color: var(--cor47);
    background-color: var(--cor49);
}

#o-feminismo-e-para-todo h2
{
    color: var(--cor52);
    background-color: var(--cor55);
}

#reforma-ou h2
{
    color: var(--cor56);
    background-color: var(--cor58);
}

#mulheres-raca h2
{
    color: var(--cor62);
    background-color: var(--cor64);
}

#a-princesa
{
    margin-bottom: 160px;
}
#a-princesa a
{
    color: var(--cor71);
    background-color: var(--cor70);
}

#a-voz-da-sereia
{
    margin-bottom: 135px;
}
#a-voz-da-sereia a
{
    color: #4F4D8C;
    background-color: #010326;
}

#eu-destilo-melanina
{
    margin-bottom: 130px;
}
#eu-destilo-melanina a
{
    color: var(--cor72);
    background-color: var(--cor73);
}

#faca-sua-coroa
{
    margin-bottom: 100px;
}
#faca-sua-coroa a
{
    color: var(--cor74);
    background-color: var(--cor75);
}