@media screen and (max-width: 915px)

{

    #bolsa-amarela

    {

        margin-bottom: 55px;

    }

    #frankenstein

    {

        margin-bottom: 50px;

    }

    #frankenstein h2

    {

        transform: translate(50%, -30px);

    }

}
